{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<section id="about" class="page-header text-center">
        <div class="container about-main-text">
            <div class="row">
                <div class="row justify-content-md-center">
                    <div class="mbr-white col-lg-12 col-md-12">
                        <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">Петропавловский <br> хлебобулочный комбинат</h1>
                        <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                            В Республике Казахстан на сегодняшний день группа компаний ТОО «ПХБК» <br> является крупнейшим производителем хлебобулочных, кондитерских изделий и продуктов мукомольного производства. В группу компаний входят: <b> ТОО «ДП «Мельница ПХБК», ТОО «ХБК Алматынан», <br> ТОО «Сеть магазинов Нан плюс», ТОО «ДП «ПХК».</b> 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                        <div class="feature d-flex">
                            <i class="glyphicon glyphicon-asterisk feature__icon"></i>
    
                            <div class="feature__block">
                                <h3 class="feature__title">
                                    Наше производство 
                                </h3>
                                <p class="feature__text">
                                    Ежемесячно ТОО «ПХБК» производит и реализует порядка 600 тонн
                                    продукции.<br><br> 
                                    Предприятие обеспечивает продукцией население города
                                    Петропавловска, области, приграничные регионы России и Казахстана.<br><br>
                                    Продукция реализуется оптовым покупателям
                                    города и СКО через «Оптовый магазин», расположенный непосредственно на
                                    территории ТОО «ПХБК», 
                                    в розницу - через торговую сеть магазинов «Нан
                                    плюс» (4 магазина прилавочного типа), 20 торговых отделов ТОО «ПХБК»
                                    на рынках города, а также согласно полученным заявкам осуществляется
                                    доставка продукции прочим розничным магазинам.
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4">
                    <div class="feature d-flex">
                        <img src="{% static 'img/logo2.png' %}" width="70" class="feature__icon" alt="ПХБК">

                        <div class="feature__block">
                            <h3 class="feature__title">
                                Что мы производим?
                            </h3>
                            <p class="feature__text">
                                ТОО «ПХБК» выпускает и реализует широкий ассортиментный ряд
                                хлебобулочной и кондитерской продукции:<br><br>
                                1. Хлеб ржано-пшеничный и пшенично-ржаной;<br>
                                2. Хлеб пшеничный;<br>
                                3. Булочные изделия (булочки, рогалики, плюшки, лепешки);<br>
                                4. Кондитерская продукция (торты, пирожные, рулеты);<br>
                                5. Кондитерские изделия длительного хранения (печенье,
                                пряники, баранки, сушки, сухари сдобные).<br>
                                6. Продукты прочие (сухарь, квас);
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature d-flex">
                        <i class="glyphicon glyphicon-certificate feature__icon"></i>

                        <div class="feature__block">
                            <h3 class="feature__title">
                                НОВИНКА!
                            </h3>
                            <p class="feature__text">
                                Группа компаний ТОО «ПХБК» активно продвигает на рынок
                                уникальный продукт - цельнозерновой хлеб Vitalnan. <br><br> В группу
                                цельнозерновых хлебов Vitalnan входят 4 вида хлеба. Рецептуры хлебов
                                разработаны технологами группы компаний ТОО «ПХБК». <br><br> В Казахстане
                                отсутствуют аналоги нашему цельнозерновому хлебу. <br><br> В результате сложной
                                большой работы сегодня мы можем предложить нашим потребителям
                                полезный хлеб со сроком годности 20 дней, изготовленный из 100%
                                натуральных продуктов.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="container caroousel-container " id="news">
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img style="width: 100%;" src="{{ posts.0.cover.url}}" alt="{{ posts.0.title }}">
                    <div class="carousel-caption">
                        <div class="date">{{ posts.0.published_date }}</div>
                        <h1><a href="{% url 'post_detail' pk=posts.0.pk %}">{{ posts.0.title }}</a></h1>
                        <p>{{ posts.0.text|linebreaksbr }}</p>
                    </div>
                </div>
                {% for post in posts %}
                {% if post.title != posts.0.title %}
                <div class="item">
                    <img style="width: 100%;" src="{{ post.cover.url}}" alt="{{ post.title }}">
                    <div class="carousel-caption">
                        <div class="date">{{ post.published_date }}</div>
                        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div><!-- End Carousel Inner -->
    
        </div><!-- End Carousel -->
        </div>
    </div>
    

<script>
        $(document).ready(function(){

            var clickEvent = false;
            $('#myCarousel').carousel({
                interval:   2500
            }).on('click', '.list-group li', function() {
                    clickEvent = true;
                    $('.list-group li').removeClass('active');
                    $(this).addClass('active');		
            }).on('slid.bs.carousel', function(e) {
                if(!clickEvent) {
                    var count = $('.list-group').children().length -1;
                    var current = $('.list-group li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if(count == id) {
                        $('.list-group li').first().addClass('active');	
                    }
                }
                clickEvent = false;
            });
        })

        $(window).load(function() {
            var boxheight = $('#myCarousel .carousel-inner').innerHeight();
            var itemlength = $('#myCarousel .item').length;
            var triggerheight = Math.round(boxheight/itemlength+1);
            $('#myCarousel .list-group-item').outerHeight(triggerheight);
        });
    </script>

{% endblock %}